<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javakc.ssm.special.dao.SpecialDao">
    <select id="querybypage" resultType="specialEntity">
        select special_Id,name,recommend,platform,version,cdate,udate,status,featured from cms_special
    </select>
</mapper>